<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= team.captain %>
  </p>

  <p>
    <strong>Number of players:</strong>
    <%= team.number_of_players %>
  </p>

</div>
